*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header[role="banner"],footer[role="contentinfo"] {
	width: 100%;
	display: block;
}
footer[role="contentinfo"] {
	clear: both;
}