
/* Subtle Anchor */
.subtle-anchor{
	font-size:1.2em;
    font-weight: 700;
    font-family:"League-Gothic","Georgia","Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform:uppercase;
    font-weight:normal;
    text-shadow: 0 -1px 0 #888;
    text-decoration:none;
    background-color: red;
	padding: 2px 8px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;

    &:hover, &:focus{
        transform: scale(0.9);
        text-shadow:2px 2px 2px black;
        color:white;
        background-color: #7279D8;
    }
    &:visited, &:active{

    }
    &::before{
        color: #fff;
        content: attr(data-hover);
        position: absolute;
        transition: transform 0.3s, opacity 0.3s;
    }
}

body{
    background-color: $bg-color ;
}

hgroup.meet-aalam img{
    @include oval(50%);
    height: 150px;
    background-color: hsl(0, 0%, 75%);
    border:2px solid silver;
}
